* {
    box-sizing: border-box;
    margin: 0;
    line-height: 1.2;
}
body {
    font-family: "Futura PT";
    color: #444;
    font-size: 20px;
    font-weight: 200;
}
img,
video {
    width: 100%;
}
h1 {
    font-size: 55px;
    font-weight: 600;
}
h2 {
    font-size: 45px;
    color: #444;
}
h3 {
    font-weight: 500;
    font-size: 32px;
}
h1, h2, h3, p {
    margin-bottom: 32px;
}
a {
    text-decoration: none;
}

/*---------- header ----------*/
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 90px;
    padding: 0 32px;
    position: fixed;
    top: 0;
    border-bottom: 4px solid black;
}
.site-logo {
    display: flex;
    align-items: center;
    height: 32px;
}
.site-logo h3 {
    font-size: 25px;
}
.site-logo-name {
    margin-bottom: 0;
}
.site-logo span {
    font-weight: normal;
}
.mobile {
    display: none;
}
.desktop {
    display: flex;
    flex-direction: row;
}
.desktop a {
    padding-left: 16px;
    font-size: 20px;
}

/*---------- CTA section ----------*/
.call-to-action {
    margin-top: 90px;
    padding: 64px 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgray;
    width: 100%;
}
.cta-image {
    width: 60%;
    margin-right: 50px;
}
.cta-image img {
    max-width: 100%;
}
.cta-information {
    width: 420px;
}
button {
    border: none;
    background-color: #444;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 16px;
    margin-top: 16px;
}
/*---------- information section ----------*/
.information {
    padding: 64px 32px;
    display: flex;
}
.information-left {
    width: 60%;
    padding-right: 24px;
}
.information-left figure {
    margin-bottom: 24px;
}
.information-articles {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.article {
    display: flex;
    align-items: center;
}
.article figure {
    width: 35%;
    height: auto;
    margin: 16px;
}
.article:hover {
    background-color: lightgrey;
    transition: background-color 300ms ease;
}
.article-description {
    width: 65%;
    padding: 20px;
}
.article-description * {
    margin-bottom: 10px;
}
.article-description a {
    font-weight: 400;
    color:lightseagreen;
}
/*---------- start-learning section ----------*/
.start-learning {
    background-color: lightgray;
    padding: 64px 150px;
}
.start-learning-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}
.start-learning header {
    text-align: center;
}
.start-learning-article {
    background-color: white;
    display: flex;
    margin-bottom: 50px;
    flex-flow: column;
    height: auto;
    width: 350px;
}
.start-learning-article figure {
    width: 100%;
    height: auto;
}
.start-learning-article-description {
    padding: 20px;
}
.start-learning-article-description h3 {
    margin-bottom: 20px;
}
.start-learning-article-description p:first-of-type {
    text-transform: uppercase;
    margin-bottom: 10px;
}
/*---------- thesis-exhibit section ----------*/
.thesis-exhibit {
    padding: 64px 32px;
}
.thesis-exhibit header {
    text-align: center;
}
.thesis-exhibit-content {
    display: flex;
}
.video-container {
    width: 60%;
    padding-right: 24px;
}
.video-container video {
    margin-bottom: 24px;
}
.thesis-articles {
    display: flex;
    flex-direction: column;
    width: 40%;
}
/*---------- footer ----------*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 90px;
    padding: 0 32px;
    border-top: 4px solid gray;
}
.copyright p {
    margin-bottom: 0;
}
.footer-links ul {
    list-style-type: none;
    display: flex;
}
.footer-links ul > li {
    padding-left: 16px;
    font-size: 20px;
}

/*---------- MEDIA QUERIES ----------*/

@media only screen and (max-device-width: 500px) and (hover: hover){
    /*---------- header ----------*/
    .main-header {
        padding: 0;
        height: 80px;
        border-bottom: none;
    }
    .desktop,
    .site-logo {
        display: none;
    }
    .mobile {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .mobile a {
        display: flex;
    }
    .mobile a img {
        height: 40px;
    }
    /*---------- CTA section ----------*/
    .call-to-action {
        margin-top: 80px;
        padding: 0 0 40px 0;
        flex-direction: column;
    }
    .cta-image {
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-right: 0;
        margin-bottom: 20px;
    }
    /*---------- information section ----------*/
    .information {
        padding: 0 32px;
    }
    .information-left {
        display: none
    }
    .information-articles {
        width: 100%;
    }
    .article {
        flex-direction: column;
    }
    .article:hover {
        background-color: none;
    }
    .article-description {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .article figure {
        width: 100%;
    }
}